<h2>About Learn Piano Project</h2>

<p>The Learn Piano Project was created as a class assignment to explore the inner workings of the EmberJS
  framework. The site is geared towards beginning to intermediate pianists looking to share music, knowledge
  and tips they uncover during thier piano learning journies.</p>

<p>Created by Summer Brochtrup &copy; 2015</p>

{{#link-to 'contact'}}Click here to contact us{{/link-to}}
