<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">{{#link-to 'index'}}<img id="logo" src="/assets/images/piano-icon.png"> Learn Piano Project{{/link-to}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}}Tips &amp; Tricks{{/link-to}}</li>
        <li>{{#link-to 'index'}}Audio &amp; Sheet Music{{/link-to}}</li>
        <li>{{#link-to 'index'}}Buy a Piano{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'about'}}{{/link-to}}
</footer>
