<h1>Learn Piano Project</h1>

<p>Join a community of individuals learning to play the piano.</p>
<p>Share tips and make suggestions to guide your fellow musicians through their learning journies</p>

{{#link-to 'about'}}About Learn Piano Project{{/link-to}}
{{#link-to 'contact'}}Click here to contact us{{/link-to}}
