<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Learn Piano Project</h1>
    <p>An online community for piano enthusiasts of all levels.</p>
    <p><button class="btn btn-warning btn-lg">{{#link-to 'about'}}Learn More &raquo;{{/link-to}}</button></p>
  </div>
</div>

<p>Join a community of individuals learning to play the piano.</p>
<p>Share tips and make suggestions to guide your fellow musicians through their learning journies</p>
